---
import { Image } from "astro:assets";
import Capsule from "./Capsule.astro";
import Link from "./Link.astro";

const {title, image, description, tags, linkCode, linkWeb} = Astro.props;

---

<div class="bg-white dark:bg-neutral-950 border border-spacing-2  border-stone-400 dark:border-stone-600 shadow-md  rounded-lg flex flex-col  ">
    <a href={linkWeb} target="_blank" rel="noopener noreferrer" role="link">
        <Image class="object-contain rounded-t-lg w-full" src={image} alt={title} />
    </a>
    
    <div  class="flex flex-col p-4 justify-between h-full">
        <div class="flex flex-col gap-2">
            <h3 class="text-2xl font-semibold text-gray-900 dark:text-white ">{title}</h3>
            <p class="text-gray-700 dark:text-gray-400 ">{description}</p>
        </div>
        <div class="flex flex-wrap gap-2 mt-7">
            {tags.map((tag: unknown) => (
                <Capsule tag={tag}/>
            ))}
        </div>
    </div>
    <div class="flex justify-between p-4">
        <Link href={linkWeb} >
            Ver proyecto
        </Link>
        <Link href={linkCode}>
            Ver código
        </Link>
        
    </div>
    
</div>