---
import { Image } from "astro:assets";
import Capsule from "./Capsule.astro";
import Button from "./Button.astro";
import Link from "./Link.astro";

const {title, image, description, tags, linkCode, linkWeb} = Astro.props;

---

<div class="bg-neutral-950 border border-spacing-2 border-stone-600 shadow-md  rounded-lg flex flex-col  ">
    <Link href={linkWeb} >
        <Image class="object-contain rounded-t-lg w-full" src={image} alt={title} />
    </Link>
    
    <div  class="flex flex-col p-4 justify-between h-full">
        <div class="flex flex-col gap-2">
            <h3 class="text-xl font-semibold">{title}</h3>
            <p class="text-gray-400">{description}</p>
        </div>
        <div class="flex flex-wrap gap-2 mt-7">
            {tags.map((tag: unknown) => (
                <Capsule tag={tag}/>
            ))}
        </div>
    </div>
    <div class="flex justify-between p-4">
        <Button >
            <Link href={linkWeb} >
                Ver proyecto
            </Link>
        </Button>
        <Button>
            <Link href={linkCode}>
                Ver código
            </Link>
        </Button>
    </div>
    
</div>