---
import bijouterieImage from "../assets/project1.jpg";
import gestionTareasImage from "../assets/project2.jpg";
import ProjectCardItem from "./ProjectCardItem.astro";

const projects = [
    {
        title: "Tienda de bijouterie",
        description: "Plataforma web moderna y responsiva para la venta de accesorios y bijouterie. Diseñada para brindar una experiencia de usuario intuitiva tanto para compradores como para administradores.",
        image: bijouterieImage,
        tags: ["React", "Tailwind CSS", "Node.js","Express", "MongoDB"],
        linkWeb: "https://bijouterie.com",
        linkCode: "https://githbub.com/bijouterie",
    },
    {
        title: "App de Gestión de Tareas",
        description: "Plataforma colaborativa para la gestión de proyectos y tareas diseñada  para empresas pequeñas. Ofrece herramientas intuitivas para planificar, organizar y realizar un seguimiento efectivo de actividades en equipo.",
        image: gestionTareasImage,
        tags: ["React", "Tailwind CSS", "Node.js","Express", "MongoDB"],
        linkWeb: "https://gestiontareas.com",
        linkCode: "https://githbub.com/gestiontareas",
    },
];


---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 ">
    {projects.map(({title, image, tags, description, linkWeb, linkCode}) => (
        <ProjectCardItem title={title} image={image} tags={tags} description={description} linkWeb={linkWeb} linkCode={linkCode}/>
    ))}
    
</div>