---
import coffeeShopImage from "../assets/project1.png";
import trelloCloneImage from "../assets/project2.jpeg";
import ProjectCardItem from "./ProjectCardItem.astro";

const projects = [
    {
        title: "Coffee Shop - Landing Page",
        description: "Landing page elegante y envolvente para un café temático. Diseñada con un estilo visual impactante, combinando tipografía refinada, animaciones sutiles y una paleta de colores armoniosa para transmitir la esencia única del lugar.",
        image: coffeeShopImage, // Asegúrate de tener la imagen importada o definida
        tags: ["React", "TypeScript" ,"Tailwind CSS"],
        linkWeb: "https://coffee-shop-iota-jade.vercel.app/",
        linkFrontendCode: "https://github.com/AlexisChebeste/coffee-shop",
    },
    {
        title: "Clon de Trello - Gestión de Proyectos",
        description: "Aplicación web inspirada en Trello para la gestión de tareas y proyectos. Permite crear tableros, listas y tarjetas, moverlas con drag & drop y organizar proyectos de forma colaborativa.",
        image: trelloCloneImage,
        tags: ["React", "TypeScript", "Redux", "DnDKit", "Tailwind CSS", "Node.js", "Express", "MongoDB"],
        linkWeb: "https://trello-clone-ts-tau.vercel.app/",
        linkFrontendCode: "https://github.com/AlexisChebeste/trello-clone-ts/",
        linkBackendCode: "https://github.com/AlexisChebeste/backend-trello/",
    }
];


---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 ">
    {projects.map(({title, image, tags, description, linkWeb, linkFrontendCode,linkBackendCode}) => (
        <ProjectCardItem title={title} image={image} tags={tags} description={description} linkWeb={linkWeb} linkFrontendCode={linkFrontendCode} linkBackendCode={linkBackendCode}/>
    ))}
    
</div>